@require '../base/templates.styl'

.developer
    box-sizing: border-box
    margin: 0
    float: left
    width: 50%
    padding: 1.46154em 30px 1.46154em 30px

    @media screen and (max-width: mobile-max-width)
        box-sizing: border-box
        width: 100%
        float: none
        margin-top: 1.46154em
        background: content-background-color

.developer--section
    section()

    @media screen and (max-width: mobile-max-width)
        padding-right: 10px

.developer--name
    font-size: headline-font-size

.developer--job-title
    font-style: italic
