@require '../base/templates.styl'

.header
    content-box()
    height: header-height
    text-align: center

.no-svg
    .header--logo
        display: none
    .header--logo-fallback
        display: block

.header--logo-fallback
    display: none

.header--logo, .header--logo-fallback
    position: absolute
    bottom: 53px
    left: 540px


@media screen and (max-width: mobile-max-width)
    .header
        height: auto
        text-align: center
        padding: 1.46154em 0

    .header--logo, .header--logo-fallback
        position: static
        max-width: 90%
        max-height: 90%
