@require '../base/templates.styl'
.impress
    content-box()
    padding: 1.46154em 30px 20px 1.46154em

.impress--section
    section()

.impress--title
    font-size: headline-font-size
    font-weight: bold
